<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/all.css">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="header header--bgColor header--flex header--mp">
        <img class="header__logo header__logo--mp" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png " alt="">
        <ul class="headerNav headerNav--flex">
            <li class="headerNav__item">
                <a href="glassesFrames.html" class="headerNav__link headerNav__link--font headerNav__link--mp">系列鏡框</a>
            </li>
            <li class="headerNav__item">
                <a href="storeLocation.html" class="headerNav__link headerNav__link--font headerNav__link--mp">門市據點</a>
            </li>
            <li class="headerNav__item">
                <a href="blog.html" class="headerNav__link headerNav__link--font headerNav__link--mp">部落格</a>
            </li>
            <li class="headerNav__item">
                <a href="fq.html" class="headerNav__link headerNav__link--font headerNav__link--mp">常見問題</a>
            </li>
        </ul>
    </div>

    <%- contents %>

        <div class="footer footer--bgColor footer--mp">
            <div class="container relative">
                <ul class="footerNav footerNav--flex footerNav--mp">
                    <li class="footerNav__item">
                        <a href="index.html" class="footerNav__link footerNav__link--font footerNav__link--mp">首頁</a>
                    </li>
                    <li class="footerNav__item">
                        <a href="glassesFrames.html" class="footerNav__link footerNav__link--font footerNav__link--mp">系列鏡框</a>
                    </li>
                    <li class="footerNav__item">
                        <a href="storeLocation.html" class="footerNav__link footerNav__link--font footerNav__link--mp">門市據點</a>
                    </li>
                    <li class="footerNav__item">
                        <a href="blog.html" class="footerNav__link footerNav__link--font footerNav__link--mp">部落格</a>
                    </li>
                    <li class="footerNav__item">
                        <a href="fq.html" class="footerNav__link footerNav__link--font footerNav__link--mp">常見問題</a>
                    </li>
                </ul>
                <ul class="footerSocials footerSocials--flex footerSocials--absolute">
                    <li class="footerSocials__item footerSocials__item--mp">
                        <a href="#"><img class="footerSocials__icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-fb.svg" alt=""></a>
                    </li>
                    <li class="footerSocials__item footerSocials__item--mp">
                        <a href="#"><img class="footerSocials__icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-ig.svg" alt=""></a>
                    </li>
                    <li class="footerSocials__item footerSocials__item--mp">
                        <a href="#"><img class="footerSocials__icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-line.svg" alt=""></a>
                    </li>
                </ul>
                <ul class="footerContacts footerContacts--mp">
                    <li class="footerContacts__item footerContacts__item--mp">
                        <img class="footerContacts__telIcon footerContacts__telIcon--mp" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-phone.svg" alt="">
                        <a class="footerContacts__link footerContacts__link--font" href="tel:0800-000-000">0800-000-000</a>
                    </li>
                    <li class="footerContacts__item footerContacts__item--mp">
                        <img class="footerContacts__mailIcon footerContacts__mailIcon--mp" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-mail.svg" alt="">
                        <a class="footerContacts__link footerContacts__link--font" href="mailto:glasses@business.com">glasses@business.com</a>
                    </li>
                </ul>
                <div class="footerBottom footerBottom--mp footerBottom--flex relative">
                    <img class="footerBottom__logo footerBottom__logo--mp footerBottom__logo--absolute" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png " alt="">
                    <ul class="bottomFonts bottomFonts--flex">
                        <li class="bottomFonts__item bottomFonts__item--mp bottomFonts__item--marginAuto"><span class="bottomFonts__copyright bottomFonts__copyright--font">Copyright © 2020 Glasses.All rights reserved.</span></li>
                        <li class="bottomFonts__item bottomFonts__item--mp">
                            <a class="bottomFonts__link bottomFonts__link--font bottomFonts__link--mp" href="#">隱私權政策</a>
                        </li>
                        <li class="bottomFonts__item bottomFonts__item--mp">
                            <a class="bottomFonts__link bottomFonts__link--font bottomFonts__link--mp" href="#">服務條款</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>