.header-banner {
  background-image: url("../images/index1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;

  @include media-breakpoint-up(md) {
    height: 870px;
  }
}

.btn-light-hover-translucent {
  border: 2px solid $light;

  &:hover {
    color: $light;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.btn-dark-hover-translucent {
  border: 2px solid $dark;

  &:hover {
    color: $dark;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.square-img {
  padding-top: 100%;
}

.product-img {
  padding-top: 100%;

  @include media-breakpoint-up(md) {
    padding-top: 150%;
  }
}

.w1h2-img {
  padding-top: 200%;
}

.soldout {
  position: relative;

  &:before {
    content: "Sold out";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.recycling-img {
  height: 520px;
}