.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-md {
  font-size: $font-size-md;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-xl {
  font-size: $font-size-xl;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.h-inherit {
  height: inherit;
}

.h-auto {
  height: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.text-decoration-line-through {
  text-decoration-line: line-through;
}
