.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-md {
  font-size: $font-size-md;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-xxl {
  font-size: $font-size-xxl;
}

.font-size-xxxl {
  font-size: $font-size-xxxl;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.list-position-inside {
  list-style-position: inside;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.h-inherit {
  height: inherit;
}

.h-auto {
  height: auto;
}

.square-img {
  padding-top: 100%;
}

.bg-cover {
  background-size: cover;
}

.bg-bottom {
  background-position: bottom;
}

.bg-lefft {
  background-position: lefft;
}

.bg-center {
  background-position: center;
}

.border-2 {
  border-width: 2px;
}

.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}

.right-md-0 {
  @include media-breakpoint-up(md) {
    right: 0;
  }
}

.marker-font-size-xl li {
  &::marker {
    font-size: $font-size-xl;
  }
}

.marker-font-weight-semibold li {
  &::marker {
    font-size: $font-size-xl;
  }
}