/* font-family */

body {
    font-family: 'Noto Sans TC', 'Regular', sans-serif;
}

.Roboto-Regular {
    font-family: 'Roboto', 'Regular', sans-serif;
}

.Roboto-Medium {
    font-family: 'Roboto', 'Medium', sans-serif;
}

.Roboto-Light {
    font-family: 'Roboto', 'Light', sans-serif;
}

.fontBold {
    font-weight: bold;
}


/* html */

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-title {
    font-size: 80px;
    line-height: 94px;
    border-bottom: 2px solid #000000;
    padding-bottom: 17px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.header-profileImage {
    display: block;
    height: 324px;
    width: 324px;
    margin-bottom: 48px;
}

.profile {
    margin-bottom: 72px;
}

.title {
    font-size: 32px;
    line-height: 43px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #000;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    color: #A00404;
    margin-left: 16px;
}

.list li {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;
}

.education {
    margin-bottom: 72px;
}

.skills {
    background-color: #415165;
    margin-bottom: 72px;
}

.skills-inner {
    width: 996px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 36px;
}

.skills-title {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 8px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ffffff;
}

.skills-title span {
    font-size: 24px;
    line-height: 28px;
    margin-left: 16px;
}

.skills-list {
    display: table;
    margin: 0 auto;
    border-left: 1px solid #96A9C4;
}

.skills-list li {
    padding-left: 24px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 36px;
}

.workExperience {
    margin-bottom: 72px;
}

.workExperience-list {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}

.workExperience-list h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
}

.workExperience-list img {
    margin-bottom: 5px;
}

.workExperience-list p {
    width: 642px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
}

.footer {
    background-color: #415165;
}

.contactMethod {
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 36px;
}

.contactMethod-title {
    text-align: center;
    font-size: 32px;
    line-height: 43px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ffffff;
}

.contactMethod-title span {
    font-size: 24px;
    line-height: 28px;
    margin-left: 16px;
}

.contactMethod-contactList {
    text-align: center;
}

.contactMethod-contactList li {
    margin-bottom: 16px;
}

.contactMethod-contactList h3 {
    font-size: 24px;
    line-height: 36px;
}

.contactMethod-contactList a {
    color: #ffffff;
}

.contactMethod-contactList a:hover {
    color: #96A9C4;
}

.contactMethod-iconList {
    display: flex;
    justify-content: center;
}

.contactMethod-iconList li {
    margin: 0px 12px;
}