// homeBanner
.homeBanner {
  height: 840px;
  &--bgImage {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @include mdScreen {
    &--bgImage {
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
    }
  }
  @include smScreen {
    height: 394px;
  }
}

.homeBannerFont {
  height: inherit;
  &--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__mainTitle {
    &--font {
      color: $primaryColor;
      font-size: 64px;
      font-weight: bold;
      line-height: 90px;
      @include mdScreen {
        font-size: 48px;
        line-height: 67px;
      }
      @include smScreen {
        font-size: 32px;
        line-height: 45px;
      }
    }
  }
  &__tinyTitle {
    display: block;
    &--font {
      color: $primaryColor;
      font-size: 36px;
      line-height: 50px;
      @include mdScreen {
        font-size: 20px;
        line-height: 28px;
      }
      @include smScreen {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

// introduction
.introduction {
  &--text {
    text-align: center;
  }
  &--mp {
    padding-top: 64px;
    padding-bottom: 80px;
    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include smScreen {
      padding-top: 32px;
      padding-bottom: 12px;
    }
  }
}

.introductionTitle {
  &--font {
    font-size: 48px;
    font-weight: bold;
    line-height: 67px;
    color: $primaryColor;
    @include mdScreen {
      font-size: 32px;
      line-height: 45px;
    }
    @include smScreen {
      font-size: 24px;
      line-height: 33px;
    }
  }
  &--mp {
    margin-bottom: 60px;
    @include mdScreen {
      margin-bottom: 32px;
    }
    @include smScreen {
      margin-bottom: 20px;
    }
  }
}

.introductionLists {
  &--flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include mdScreen {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include smScreen {
      justify-content: center;
    }
  }
  &__icon {
    @include mdScreen {
      height: 80%;
    }
    &--mp {
      margin-bottom: 40px;
      @include mdScreen {
        margin-bottom: 16px;
      }
    }
  }
  &__item {
    @include mdScreen {
      width: 34%;
      &--mp {
        margin-bottom: 40px;
      }
    }
    @include smScreen {
      width: 76.63%;
    }
    &--flexOrder {
      order: -1;
      @include mdScreen {
        order: 0;
      }
    }
  }
  &__title {
    &--font {
      color: $primaryColor;
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;
      @include mdScreen {
        font-size: 20px;
        line-height: 28px;
      }
    }
    &--mp {
      margin-bottom: 4px;
      @include mdScreen {
        margin-bottom: 8px;
      }
    }
  }
  &__article {
    max-width: 208px;
    @include mdScreen {
      max-width: 237px;
    }
    &--mp {
      margin: 0 auto;
    }
    &--text {
      text-align: left;
    }
    &--font {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// classic
.classic {
  &--mp {
    padding-top: 64px;
    padding-bottom: 48px;
    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 32px;
    }
    @include smScreen {
      padding-top: 32px;
      padding-bottom: 24px;
    }
  }
  &--text {
    text-align: center;
  }
  &__title {
    &--font {
      font-size: 48px;
      font-weight: bold;
      line-height: 67px;
      color: $primaryColor;
      @include mdScreen {
        font-size: 32px;
        line-height: 45px;
      }
      @include smScreen {
        font-size: 20px;
        line-height: 28px;
      }
    }
    &--mp {
      margin-bottom: 60px;
      @include mdScreen {
        margin-bottom: 32px;
      }
      @include smScreen {
        margin-bottom: 20px;
      }
    }
  }
}

.classicLists {
  &__item {
    @include smScreen {
        width: 100%;
        position: relative;
    }
    &--flex {
      display: flex;
      align-items: center;
    }
    &--flexReverse {
      flex-direction: row-reverse;
      @include mdScreen {
        flex-direction: row;
      }
    }
    &--mp {
      margin-bottom: 32px;
      @include mdScreen {
        margin-bottom: 8px;
      }
    }
  }
  &__photo {
    max-width: 635px;
    @include mdScreen {
      max-width: 390px;
    }
    @include smScreen {
        max-width: 100%;}
  }
  &__title {
    @include smScreen {
        position: absolute;
        left: 0;
        right: 0;}
    &--font {
      font-size: 48px;
      font-weight: bold;
      font-style: italic;
      line-height: 63px;
      color: $secondaryColor;
      @include mdScreen {
        font-size: 28px;
        line-height: 37px;
      }
      @include smScreen {
        color: $white;}
    }
    &--mp {
      margin: 0px 30px;
      @include smScreen {
        margin: 0 auto;}
    }
  }
  &__primaryIcon {
    @include smScreen {
        display: none;}
    &--mp {
      margin-right: 8px;
    }
    &--alignMiddle {
      vertical-align: middle;
    }
  }
  &__lightIcon {
    display: none;
    @include smScreen {
        display: inline;}
    &--mp {
      margin-right: 8px;
    }
    &--alignMiddle {
      vertical-align: middle;
    }
  }

}

// coBranding
.coBranding {
  &--bgImage {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--mp {
    padding-top: 64px;
    padding-bottom: 80px;
    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include smScreen {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &--text {
    text-align: center;
  }
}

.coBrandingTitle {
  &--font {
    font-size: 48px;
    font-weight: bold;
    line-height: 67px;
    color: $white;
    @include mdScreen {
      font-size: 32px;
      line-height: 45px;
    }
    @include smScreen {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &--mp {
    margin-bottom: 60px;
    @include mdScreen {
      margin-bottom: 32px;
    }
    @include smScreen {
      margin-bottom: 20px;
    }
  }
}

.coBrandingLists {
  &--flex {
    display: flex;
    justify-content: space-between;
    @include smScreen {
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 48.6%;
    @include mdScreen {
      width: 47.8%;
    }
    @include smScreen {
      width: 100%;
      &--mp {
        margin-bottom: 16px;
      }
    }
  }
  &__doubleA {
    &--flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--bgImage {
      height: 472px;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include mdScreen {
        height: 280px;
      }
    }
    &--bgImage::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: 0.5;
    }
  }
  &__youth {
    &--flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--bgImage {
      height: 472px;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include mdScreen {
        height: 280px;
      }
    }
    &--bgImage::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: 0.5;
    }
  }
  &__title {
    z-index: 1;
    &--font {
      font-size: 72px;
      font-weight: bold;
      line-height: 95px;
      color: $primaryColor;
      @include mdScreen {
        font-size: 32px;
        line-height: 43px;
      }
    }
  }
}

// recommend

.recommend {
  &--mp {
    padding-top: 64px;
    padding-bottom: 64px;
    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 12px;
    }
    @include smScreen {
      padding-top: 32px;
      padding-bottom: 16px;
    }
  }
}

.recommendTitle {
  &--text {
    text-align: center;
  }
  &--font {
    font-size: 48px;
    font-weight: bold;
    line-height: 67px;
    color: $primaryColor;
    @include mdScreen {
      font-size: 32px;
      line-height: 45px;
    }
    @include smScreen {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &--mp {
    margin-bottom: 60px;
    @include mdScreen {
      margin-bottom: 32px;
    }
    @include smScreen {
      margin-bottom: 20px;
    }
  }
}

.recommendLists {
  &--flex {
    display: flex;
    justify-content: space-between;
    @include mdScreen {
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 22.9%;
    @include mdScreen {
      width: 47.8%;
    }
    @include smScreen {
      width: 100%;
    }
  }
  &__headShot {
    display: block;
    @include mdScreen {
      width: 100%;
    }
  }
  &__profile {
    border: 1px solid #dee2e6;
    &--mp {
      padding: 16px;
      @include mdScreen {
        margin-bottom: 28px;
      }
      @include smScreen {
        margin-bottom: 16px;
      }
    }
    &__title {
      &--font {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: $mediumFontWeight;
        line-height: 19px;
        color: #212529;
      }
      &--mp {
        margin-bottom: 7px;
      }
    }
    &__article {
      &--font {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #212529;
      }
      &--mp {
        margin-bottom: 10px;
      }
    }
    &__updateTime {
      &--font {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: #707070;
      }
    }
  }
}

// contantUs
.contantUs {
  &--mp {
    padding-top: 64px;
    padding-bottom: 80px;
    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include smScreen {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.contantUsTitle {
  &--font {
    font-size: 48px;
    line-height: 67px;
    font-weight: bold;
    @include mdScreen {
      font-size: 32px;
      line-height: 45px;
    }
    @include smScreen {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &--text {
    text-align: center;
  }
  &--mp {
    margin-bottom: 24px;
    @include mdScreen {
      margin-bottom: 16px;
    }
    @include smScreen {
      margin-bottom: 20px;
    }
  }
}

.contantUsInfo {
  max-width: 730px;
  margin: 0 auto;
  @include mdScreen {
    max-width: 450px;
  }
  @include smScreen {
    max-width: 345px;
  }
  &__article {
    &--font {
      font-size: 20px;
      line-height: 30px;
      @include mdScreen {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &--mp {
      margin-bottom: 20px;
      @include mdScreen {
        margin-bottom: 12px;
      }
      @include smScreen {
        margin-bottom: 8px;
      }
    }
  }
}

.contantUsInfo__form {
  &__submit {
    width: 350px;
    height: 54px;
    border: none;
    @include mdScreen {
      width: 210px;
      height: 36px;
    }
    @include smScreen {
      width: 165px;
    }
    &--bgColor {
      background-color: $secondaryColor;
    }
    &--font {
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      color: $white;
      @include mdScreen {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.contantUsInputList {
  &--mp {
    margin-bottom: 24px;
    @include mdScreen {
      margin-bottom: 20px;
    }
    @include smScreen {
      margin-bottom: 24px;
    }
  }
  &__item {
    &--mp {
      margin-bottom: 16px;
      @include mdScreen {
        margin-bottom: 8px;
      }
    }
  }
  &__label {
    &--d-block {
      display: block;
    }
    &--font {
      font-size: 16px;
      line-height: 22px;
      @include mdScreen {
        font-size: 14px;
        line-height: 21px;
      }
    }
    &--mp {
      margin-bottom: 4px;
      @include mdScreen {
        margin-bottom: 2px;
      }
    }
  }
  &__textInput {
    width: 100%;
    &--font {
      font-size: 16px;
      line-height: 22px;
      @include mdScreen {
        font-size: 14px;
        line-height: 21px;
      }
    }
    &--mp {
      padding: 14px 0px 14px 16px;
      @include mdScreen {
        padding: 8px 0px 8px 12px;
      }
    }
  }
}
