// header
.header {
  height: 108px;

  &--bgColor {
    background-color: $secondaryColor;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include smScreen {
      flex-direction: column;
    }
  }

  &--mp {
    padding-left: 88px;
    padding-right: 88px;

    @include mdScreen {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include smScreen {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @include smScreen {
    height: auto;

    &__logo {
      height: 29.14px;

      &--mp {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.headerNav {
  &--flex {
    display: flex;

    @include smScreen {
      flex-wrap: wrap;
    }
  }

  &__link {
    @include smScreen {
      display: block;
    }

    &--font {
      color: $white;
      font-size: 20px;
      line-height: 1.4;
    }

    &--mp {
      padding: 10px 32px;

      &:hover {
        background-color: $primaryColor;
      }

      @include mdScreen {
        padding: 10px 20px;
      }

      @include smScreen {
        margin-left: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  @include smScreen {
    width: 100%;

    &__item {
      width: 50%;
      border: 1px solid $white;
      text-align: center;
    }
  }
}

// footer
.footer {
  &--bgColor {
    background-color: $secondaryColor;
  }

  &--mp {
    padding-top: 48px;
    padding-bottom: 28.43px;

    @include mdScreen {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include smScreen {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

.footerNav {
  &--flex {
    display: flex;
  }

  &--mp {
    margin-bottom: 32px;

    @include mdScreen {
      margin-bottom: 24px;
    }
  }

  &__link {
    &--font {
      color: $white;
      font-size: 16px;
      line-height: 1.5;
    }

    &--mp {
      padding: 0px 24px;

      &:hover {
        background-color: $primaryColor;
      }

      @include mdScreen {
        padding: 0px 20px;
      }
    }
  }

  @include smScreen {
    display: none;
  }
}

.footerSocials {
  &--flex {
    display: flex;
  }

  &--absolute {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__item {
    &--mp {
      margin-left: 32px;

      @include mdScreen {
        margin-left: 24px;
      }
    }
  }

  @include mdScreen {
    &__icon {
      height: 24px;
    }
  }
}

.footerContacts {
  &--mp {
    margin-bottom: 24px;

    @include mdScreen {
      margin-bottom: 28px;
    }

    @include smScreen {
      margin-bottom: 24px;
    }
  }

  &__telIcon {
    height: 38px;

    &--mp {
      margin-left: 3px;
      margin-right: 17px;

      @include mdScreen {
        margin-left: 5px;
        margin-right: 15px;
      }

      @include smScreen {
        margin-left: 1px;
        margin-right: 8px;
      }
    }

    @include mdScreen {
      height: 18px;
    }

    @include smScreen {
      height: 14px;
    }
  }

  &__mailIcon {
    height: 44px;

    &--mp {
      margin-right: 14px;

      @include mdScreen {
        margin-right: 10px;
      }

      @include smScreen {
        margin-right: 7px;
      }
    }

    @include mdScreen {
      height: 28px;
    }

    @include smScreen {
      height: 16px;
    }
  }

  &__item {
    &--mp {
      margin-bottom: 24px;

      @include mdScreen {
        margin-bottom: 16px;
      }

      @include smScreen {
        margin-bottom: 12px;
      }
    }
  }

  &__link {
    &--font {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      line-height: 48px;
      color: $white;

      @include mdScreen {
        font-size: 20px;
        line-height: 30px;
      }

      @include smScreen {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}

.footerBottom {
  border-top: 1px solid $white;

  &--mp {
    padding-top: 24px;
  }

  &--flex {
    display: flex;
    align-items: center;
  }

  &__logo {
    &--mp {
      margin-right: 38px;

      @include smScreen {
        margin-right: 0px;
      }
    }

    @include mdScreen {
      display: none;
    }

    @include smScreen {
      height: 27.93px;
      display: block;

      &--absolute {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.bottomFonts {
  width: 992px;

  &--flex {
    display: flex;

    @include smScreen {
      flex-direction: column;
    }
  }

  &__item {
    @include smScreen {
      &--mp {
        margin-bottom: 8px;
      }
    }

    &--marginAuto {
      margin-right: auto;
    }
  }

  &__copyright {
    &--font {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: $white;
    }
  }

  &__link {
    &--font {
      font-size: 14px;
      line-height: 20px;
      color: $white;
    }

    &--mp {
      margin-left: 62px;

      @include mdScreen {
        margin-left: 24px;
      }

      @include smScreen {
        margin-left: 0px;
      }
    }
  }
}