@mixin underline-color-variant($parent, $color) {
  #{$parent} {
    display: inline-block;
    &::after {
      content: "";
      width: 0px;
      height: 1.5px;
      display: block;
      transition: 300ms;
    }
    &:hover {
      text-decoration: none;
      &::after {
        background: $color;
        width: 100%;
      }
    }
    &.active {
      &::after {
        background: $color;
        width: 100%;
      }
    }
  }
}
