@import'common';
// banner
$bannerHeignt:304px;
$bannerHeigntAtSmScreen: 143px;
.banner {
    height: $bannerHeignt;
    &--bgi {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @include smScreen {
        height: $bannerHeigntAtSmScreen;
    }
}

.bannerContent {
    height: inherit;
    &--flex {
        display: flex;
        align-items: flex-end;
    }
    &__title {
        &--font {
            font-size: 64px;
            font-weight: bold;
            line-height: 90px;
        }
        &--mp {
            margin-right: 24px;
        }
    }
    &__fqIcon {
        height: 58px;
    }
    @include mdScreen {
        &__title {
            &--font {
                font-size: 48px;
                line-height: 67px;
            }
            &--mp {
                margin-right: 16px;
            }
        }
        &__fqIcon {
            height: 48px;
        }
    }
    @include smScreen {
        &__title {
            &--font {
                font-size: 28px;
                line-height: 40px;
            }
            &--mp {
                margin-right: 8px;
            }
        }
        &__fqIcon {
            height: 24px;
        }
    }
}

// fqcontent
.fqcontent {
    &--mp {
        padding-top: 80px;
        padding-bottom: 264px;
    }
    @include mdScreen {
        &--mp {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }
    @include smScreen {
        &--mp {
            padding-top: 24px;
            padding-bottom: 36px;
        }
    }
}

.fqtitle {
    &--font {
        font-size: 32px;
        font-weight: bold;
        line-height: 45px;
    }
    &--mp {
        margin-bottom: 36px;
    }
    @include smScreen {
        &--font {
            font-size: 20px;
            line-height: 28px;
        }
        &--mp {
            margin-bottom: 12px;
        }
    }
}

.fqLists {
    &__item {
        &--mp {
            margin-bottom: 40px;
        }
    }
    &__quetion {
        &--font {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
        }
        &--mp {
            margin-bottom: 16px;
        }
    }
    &__anwser {
        &--font {
            font-size: 16px;
            line-height: 24px;
        }
        &--mp {
            margin-left: 105px;
        }
        &__higherSm {
            display: none;
        }
    }
    @include mdScreen {
        &__anwser {
            &--mp {
                margin-left: 60px;
            }
        }
    }
    @include smScreen {
        &__item {
            &--mp {
                margin-bottom: 20px;
            }
        }
        &__quetion {
            &--font {
                font-size: 16px;
                line-height: 24px;
            }
            &--mp {
                margin-bottom: 8px;
            }
        }
        &__anwser {
            &--font {
                font-size: 14px;
                line-height: 21px;
            }
            &--mp {
                margin-left: 0px;
            }
            &__lowerSm {
                display: none;
            }
            &__higherSm {
                display: inline;
            }
        }
    }
}