@import'layout';
// banner
.banner {
    height: 840px;
    &--bgi {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @include mdScreen {
        &--bgi {
            background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
        }
    }
    @include smScreen {
        height: 394px;
    }
}

.bannerFont {
    height: inherit;
    &--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    &__mainTitle {
        &--font {
            color: $primaryColor;
            font-size: 64px;
            font-weight: bold;
            line-height: 90px;
        }
    }
    &__tinyTitle {
        display: block;
        &--font {
            color: $primaryColor;
            font-size: 36px;
            line-height: 50px;
        }
    }
    @include mdScreen {
        &__mainTitle {
            &--font {
                font-size: 48px;
                line-height: 67px;
            }
        }
        &__tinyTitle {
            &--font {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    @include smScreen {
        &__mainTitle {
            &--font {
                font-size: 32px;
                line-height: 45px;
            }
        }
        &__tinyTitle {
            &--font {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

// introduction
.introduction {
    &--text {
        text-align: center;
    }
    &--mp {
        padding-top: 64px;
        padding-bottom: 80px;
    }
    @include mdScreen {
        &--mp {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    @include smScreen {
        &--mp {
            padding-top: 32px;
            padding-bottom: 12px;
        }
    }
}

.introductionTitle {
    &--font {
        font-size: 48px;
        font-weight: bold;
        line-height: 67px;
        color: $primaryColor;
    }
    &--mp {
        margin-bottom: 60px;
    }
    @include mdScreen {
        &--font {
            font-size: 32px;
            line-height: 45px;
        }
        &--mp {
            margin-bottom: 32px;
        }
    }
    @include smScreen {
        &--font {
            font-size: 24px;
            line-height: 33px;
        }
        &--mp {
            margin-bottom: 20px;
        }
    }
}

.introductionLists {
    &--flex {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__icon {
        &--mp {
            margin-bottom: 40px;
        }
    }
    &__item {
        &--flexOrder {
            order: -1;
        }
    }
    &__title {
        &--font {
            color: $primaryColor;
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
        }
        &--mp {
            margin-bottom: 4px;
        }
    }
    &__article {
        max-width: 208px;
        &--mp {
            margin: 0 auto;
        }
        &--text {
            text-align: left;
        }
        &--font {
            font-size: 16px;
            line-height: 24px;
        }
    }
    @include mdScreen {
        &--flex {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            width: 34%;
            &--flexOrder {
                order: 0;
            }
            &--mp {
                margin-bottom: 40px;
            }
        }
        &__icon {
            height: 80%;
            &--mp {
                margin-bottom: 16px;
            }
        }
        &__title {
            &--font {
                font-size: 20px;
                line-height: 28px;
            }
            &--mp {
                margin-bottom: 8px;
            }
        }
        &__article {
            max-width: 237px;
        }
    }
    @include smScreen {
        &--flex {
            justify-content: center;
        }
        &__item {
            width: 76.63%;
        }
    }
}