/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* common */

body {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.darkTheme {
    background-color: #000000;
    color: #ffffff;
}

.title {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}


/* banner */

.banner {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week2/banner.png);
    background-repeat: no-repeat;
    height: 958px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-inner {
    font-weight: bold;
    color: #ffffff;
}

.banner-inner span {
    display: block;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}

.banner-inner h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 32px;
}

.banner-inner p {
    margin-bottom: 48px;
}

.iconList {
    display: flex;
    justify-content: space-between;
}


/* about */

.about {
    padding: 64px 0px 56px 0px;
    font-weight: bold;
}

.about .title {
    font-weight: 500;
    margin-bottom: 40px;
}

.about img {
    margin-bottom: 24px;
}

.about-profile__item--lh42 {
    line-height: 42px;
}

.about-profile {
    margin-bottom: 24px;
}

.about-profile li {
    margin-bottom: 8px;
}

.about-career {
    width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000;
}

.about-career li {
    margin-top: 32px;
}

.about-career li::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 16px;
    background-color: #891818;
    border-radius: 50%;
}

.about-career__item--lh42 {
    line-height: 42px;
}


/* myBrand */

.myBrand {
    font-weight: 500;
    padding: 64px 0px 160px 0px;
}

.myBrand .title {
    margin-bottom: 16px;
}

.myBrand h3 {
    line-height: 42px;
    margin-bottom: 32px;
}

.myBrand p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 68px;
}

.myBrand-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -24px;
}

.myBrand-brands li {
    margin-bottom: 40px;
    margin-right: 24px;
}


/* otherWork */

.otherWork {
    font-weight: 500;
    font-size: 20px;
    padding: 64px 0px 160px 0px;
}

.otherWork .title {
    margin-bottom: 24px;
}

.otherWork p {
    line-height: 30px;
    margin-bottom: 56px;
}

.otherWork-works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.otherWork-works li {
    margin-bottom: 56px;
}

.otherWork-works figcaption {
    margin-top: 16px;
    line-height: 30px;
}


/* Contact */

.contact {
    font-weight: 500;
    padding: 64px 0px 80px 0px;
}

.contact .title {
    margin-bottom: 16px;
}

.contact a {
    color: #ffff;
}

.contact a:hover {
    color: #92928c;
}