.counter-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: -10%;
  content: attr(data-count);
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 7px;
  line-height: 14px;
  color: white;
  background: $primary;
  text-align: center;
}
