.footer__logo {
  max-width: 128px;
}

.footer-banner {
  background-image: url("../images/index10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 600px;
  padding-top: 312px;
}