.dropdown {
  transform: rotate(0deg);
  transition: all 0.5s;
  &.active {
    transform: rotate(180deg);
    transition: all 0.5s;
  }
}

.dropdown-items {
  max-height: 0px;
  overflow: hidden;
  &.active {
    max-height: 100%;
    height: auto;
  }
}
