@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.lightTheme--bgc {
  background-color: #FBF2F2;
}

.relative {
  position: relative;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 344.5px;
  }
}

.header {
  height: 108px;
}

.header--bgc {
  background-color: #AA0601;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--mp {
  padding-left: 88px;
  padding-right: 88px;
}

@media (max-width: 992px) {
  .header--mp {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
  }
  .header__logo {
    height: 29.14px;
  }
  .header__logo--mp {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header--mp {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.headerNav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerNav__link--font {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
}

.headerNav__link--mp {
  margin-left: 64px;
}

@media (max-width: 992px) {
  .headerNav__link--mp {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .headerNav {
    width: 100%;
  }
  .headerNav__item {
    width: 50%;
    border: 1px solid #ffffff;
    text-align: center;
  }
  .headerNav--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .headerNav__link {
    display: block;
  }
  .headerNav__link--mp {
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.footer--bgc {
  background-color: #AA0601;
}

.footer--mp {
  padding-top: 48px;
  padding-bottom: 28.43px;
}

@media (max-width: 992px) {
  .footer--mp {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .footer--mp {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footerNav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerNav--mp {
  margin-bottom: 32px;
}

.footerNav__link--font {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.footerNav__link--mp {
  margin-right: 48px;
}

@media (max-width: 992px) {
  .footerNav--mp {
    margin-bottom: 24px;
  }
  .footerNav__link--mp {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .footerNav {
    display: none;
  }
}

.footerSocials--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerSocials--absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.footerSocials__item--mp {
  margin-left: 32px;
}

@media (max-width: 992px) {
  .footerSocials__item--mp {
    margin-left: 24px;
  }
  .footerSocials__icon {
    height: 24px;
  }
}

.footerContacts--mp {
  margin-bottom: 24px;
}

.footerContacts__telIcon {
  height: 38px;
}

.footerContacts__telIcon--mp {
  margin-left: 3px;
  margin-right: 17px;
}

.footerContacts__mailIcon {
  height: 44px;
}

.footerContacts__mailIcon--mp {
  margin-right: 14px;
}

.footerContacts__item--mp {
  margin-bottom: 24px;
}

.footerContacts__link--font {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .footerContacts--mp {
    margin-bottom: 28px;
  }
  .footerContacts__telIcon {
    height: 18px;
  }
  .footerContacts__telIcon--mp {
    margin-left: 5px;
    margin-right: 15px;
  }
  .footerContacts__mailIcon {
    height: 28px;
  }
  .footerContacts__mailIcon--mp {
    margin-right: 10px;
  }
  .footerContacts__item--mp {
    margin-bottom: 16px;
  }
  .footerContacts__link--font {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .footerContacts--mp {
    margin-bottom: 24px;
  }
  .footerContacts__telIcon {
    height: 14px;
  }
  .footerContacts__telIcon--mp {
    margin-left: 1px;
    margin-right: 8px;
  }
  .footerContacts__mailIcon {
    height: 16px;
  }
  .footerContacts__mailIcon--mp {
    margin-right: 7px;
  }
  .footerContacts__item--mp {
    margin-bottom: 12px;
  }
  .footerContacts__link--font {
    font-size: 16px;
    line-height: 21px;
  }
}

.footerBottom {
  border-top: 1px solid #ffffff;
}

.footerBottom--mp {
  padding-top: 24px;
}

.footerBottom--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerBottom__logo--mp {
  margin-right: 38px;
}

@media (max-width: 992px) {
  .footerBottom__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .footerBottom__logo {
    height: 27.93px;
    display: block;
  }
  .footerBottom__logo--mp {
    margin-right: 0px;
  }
  .footerBottom__logo--absolute {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.bottomFonts {
  width: 992px;
}

.bottomFonts--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottomFonts__item--marginAuto {
  margin-right: auto;
}

.bottomFonts__copyright--font {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.bottomFonts__link--font {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.bottomFonts__link--mp {
  margin-left: 62px;
}

@media (max-width: 992px) {
  .bottomFonts__link--mp {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .bottomFonts--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottomFonts__item--mp {
    margin-bottom: 8px;
  }
  .bottomFonts__link--mp {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=layout.css.map */